{% extends 'default/base.html.twig' %}

{% block page %}

  <div class="container">
    <div class="row">
      <div class="page-section">
        <h1>List of your budgets:</h1>
        <h1>Total Balance: {{ totalBalance|money() }}</h1>

        {% for budgetData in budgetsData %}
          <div class="col-sm-4 col-md-3">
            <a class="item-index" href="{{ path('budget_show', { 'id': budgetData.0.id }) }}">
              <p>{{ budgetData.0.name }}</p>
              <p>{{ budgetData.1|money() }} {{ budgetData.0.currency }}</p>
            </a>
          </div>
        {% endfor %}

        <div class="col-sm-4 col-md-3">
          <a class="item-index" href="{{ path('budget_new') }}"><p>Create new budget...</p></a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
