{% extends 'Default/base.html.twig' %}

{% block page %}

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="page-section">

          <h2>Budget Data</h2>

          <table class="table">
            <tbody>
              <tr>
                <th>Id:</th>
                <td>{{ budget.id }}</td>
              </tr>
              <tr>
                <th>Name:</th>
                <td>{{ budget.name }}</td>
              </tr>
              <tr>
                <th>Balance:</th>
                <td>{{ budget_balance|money }}</td>
              </tr>
              <tr>
                <th>Currency:</th>
                <td>{{ budget.currency }}</td>
              </tr>
              <tr>
                <th>Owner</th>
                <td>{{ budget.owner }}</td>
              </tr>
            </tbody>
          </table>

          {% include 'Default/flashes.html.twig' %}

          <a class="form-button btn btn-primary btn-lg btn-block" href="{{ path('budget_edit', { 'id': budget.id }) }}">Edit</a>
          <a class="form-button btn btn-primary btn-lg btn-block delete-url" href="{{ path('budget_delete', { 'id': budget.id }) }}">Delete</a>
          <a href="{{ path('budget_index') }}">Back to the list</a>

        </div>
      </div>
    </div>

    {% include 'Transaction/list.html.twig' %}

  </div>

{% endblock %}
