{% extends 'default/base.html.twig' %}

{% block page %}

  <div class="container">
    <div class="row">
      <div class="main-page-section col-md-12">

        {% if app.user %}

          <div class="row">
            <div class="error-container col-sm-6 col-sm-offset-3">
              {% include 'default/formErrors.html.twig' %}
            </div>
          </div>

          <div class="main-page-item-container">

            <a class="main-page-item" href="{{ path('account_index') }}">Accounts</a>
            <a class="main-page-item" href="{{ path('budget_index') }}">Budgets</a>
            <a class="main-page-item" href="{{ path('transaction_index') }}">Transactions</a>
            <a class="main-page-item" href="{{ path('usergroup_index') }}">Groups</a>

            {% if is_granted('ROLE_ADMIN') %}
              <div class="admin-items">
                <a class="main-page-item admin-page-item" href="{{ path('categorygroup_index') }}">Category Groups</a>
                <a class="main-page-item admin-page-item" href="{{ path('category_index') }}">Categories</a>
              </div>
            {% endif %}
          </div>

        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}
