{% extends 'Default/base.html.twig' %}

{% block page %}

  <div class="container">
    <div class="row">
      <div class="form-container col-sm-6 col-sm-offset-3">

        <div class="form-header">
          <h2 class="form-title">User group edit</h2>
        </div>

        {{ form_start(edit_form) }}
          {{ form_errors(edit_form) }}

          {% include 'Default/formErrors.html.twig' %}

          {{ form_label(edit_form.name) }}
          {{ form_errors(edit_form.name) }}
          {{ form_widget(edit_form.name) }}

          {{ form_label(edit_form.users) }}
          {{ form_errors(edit_form.users) }}

          <div id="user-fields-list" data-prototype="{{ form_widget(edit_form.users.vars.prototype)|e }}" data-widget-members="{{ '<div class="form-group"></div>'|e }}">

          {% for user in edit_form.users %}

            {% if user.vars.value == app.user.email %}
              <div class="form-group">
                {{ form_errors(user) }}
                {{ form_widget(user, { 'attr':{'disabled':'disabled', 'class':'disabled'} }) }}
              </div>
            {% else %}
              <div class="form-group">
                {{ form_errors(user) }}
                {{ form_widget(user) }}
              </div>
            {% endif %}

          {% endfor %}

          </div>

          <a href="#" class="form-button btn btn-primary btn-lg btn-block add-another-collection-widget" data-list="#user-fields-list">Add another user</a>
          <button class="form-button btn btn-primary btn-lg btn-block" type="submit">Save changes</button>

        {{ form_end(edit_form) }}

        <div class="form-footer">
          <p><a href="{{ path('user-group_index') }}">Back to the list</a></p>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
