{% extends 'Default/base.html.twig' %}

{% block page %}

  <div class="container">
    <div class="row">
      <div class="page-section">
        <h2>User groups list</h2>

        {% include 'Default/flashes.html.twig' %}

        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Group Owner:</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user_group in user_groups if user_group.isDefaultGroup == false %}
            <tr>
              <td>{{ user_group.name }}</td>
              <td>{{ user_group.owner.username }}</td>
              <td>
                <ul class="list-inline">
                  <li><a href="{{ path('user-group_show', { 'id': user_group.id }) }}">show</a></li>

                  {% if app.user.id == user_group.owner.id %}
                    <li><a href="{{ path('user-group_edit', { 'id': user_group.id }) }}">edit</a></li>
                  {% endif %}

                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <a class="form-button btn btn-primary btn-lg btn-block" href="{{ path('user-group_new') }}">Create a new user group</a>
      </div>
    </div>
  </div>

{% endblock %}
