{% extends 'default/base.html.twig' %}

{% block page %}

  <div class="container">
    <div class="row">
      <div class="page-section invitation">
        <div class="col-md-6 col-md-offset-3">

          {% if group_invitation.hasExpired() %}
            <div class="error-container">
              <div class="alert alert-info" role="alert">
                <p class="text-highlight">Invitation has expired:</p>
                <p>{{ group_invitation.userGroup.owner }}invites you to join{{ group_invitation.userGroup.name }}group.</p>
              </div>
            </div>
          {% elseif group_invitation.isActive() %}
            <div class="row">
              <p class="invitation-title">{{group_invitation.userGroup.owner}} invites you to join {{group_invitation.userGroup.name}} group.</p>
              <p class="invitation-date">Invitation expires at {{ group_invitation.getExpirationDate()|localizeddate }}</p>
              <div class="col-md-6">
                <a class="item-index invitation-item" href="{{ path('group_invitation_accept', { 'id': group_invitation.id }) }}">
                  Accept invitation
                </a>
              </div>
              <div class="col-md-6">
                <a class="item-index invitation-item" href="{{ path('group_invitation_decline', { 'id': group_invitation.id }) }}">
                  Decline invitation
                </a>
              </div>
            </div>
          {% else %}
            <div class="error-container">
              <div class="alert alert-info" role="alert">
                <p class="text-highlight">You have already responded to this invitation:</p>
                <p>{{ group_invitation.userGroup.owner }} invites you to join {{ group_invitation.userGroup.name }} group.</p>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

{% endblock %}
