{% extends 'default/base.html.twig' %}

{% block page %}

  <div class="container">
    <div class="row">
      <div class="page-section invitation">
        <div class="col-md-6 col-md-offset-3">

          {% if invitation_active %}
            <div class="row">
              <div class="invitation-title">{{group_invitation.userGroup.owner}} invites you to join {{group_invitation.userGroup.name}} group.</div>
              <div class="invitation-date">Invitation expires at {{ group_invitation.getExpirationDate()|localizeddate }}</div>
              <div class="col-md-6">
                <a class="item-index invitation-item" href="{{ path('group_invitation_accept', { 'id': group_invitation.id }) }}">
                  Accept invitation
                </a>
              </div>
              <div class="col-md-6">
                <a class="item-index invitation-item" href="{{ path('group_invitation_decline', { 'id': group_invitation.id }) }}">
                  Decline invitation
                </a>
              </div>
            </div>
          {% else %}
            <div class="error-container">
              <div class="alert alert-info" role="alert">
                <strong>You have already responded to this invitation:</strong>
                </br>{{group_invitation.userGroup.owner}} invites you to join {{group_invitation.userGroup.name}} group.
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

{% endblock %}
