{% extends 'default/base.html.twig' %}

{% block page %}

  <div class="container">
    <div class="row">
      <div class="page-section">
        <h1>List of your accounts:</h1>

        {% if totalBalance %}
        <h1>Total Balance: {{ totalBalance|money(app.request.getLocale()) }}</h1>
        {% endif %}

        {% for accountData in accountsData %}
          <div class="col-sm-4 col-md-3">
            <a class="item-index" href="{{ path('account_show', { 'id': accountData.0.id }) }}">
              {{ accountData.0.name }} </br>
              {{ accountData.1|money(app.request.getLocale()) }} {{ accountData.0.currency }}
            </a>
          </div>
        {% endfor %}

        <div class="col-sm-4 col-md-3">
          <p><a class="item-index" href="{{ path('account_new') }}">Create new account...</a></p>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
