{% extends "user/base.html.twig" %}

{% block form %}

<div class="form-header">
  <h2 class="form-title">Create a new Account</h2>
  <p>or <a href="{{ path('login') }}">sign in to your account</a></p>
</div>

{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button class="form-button btn btn-primary btn-lg btn-block" type="submit">Create New Account</button>
{{ form_end(form) }}

<div class="form-footer">
  <p>By creating an account, you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
</div>

{% endblock %}
