<div class="row">
  <div class="page-section">
    <h2>List of your Transactions:</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Creator</th>
          <th>Amount</th>
          <th>Datetime</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.title }}</td>
          <td>{{ transaction.creator }}</td>
          <td>{{ transaction.amount|money }} {{ transaction.account.currency }}</td>
          <td>{{ transaction.dateTime|date('Y-m-d H:i:s') }}</td>
          <td>
            <ul class="list-inline">
              <li><a href="{{ path('transaction_show', { 'id': transaction.id }) }}">show</a></li>
              <li><a href="{{ path('transaction_edit', { 'id': transaction.id }) }}">edit</a></li>
            </ul>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <a class="form-button btn btn-primary btn-lg btn-block"
       href="{{ path('transaction_new') }}{% if budget %}?budget={{ budget.id }}{% endif %}{% if account %}?account={{ account.id }}{% endif %}"
       >Create a new transaction</a>

  </div>
</div>
