<div class="row">
  <div class="page-section">

    <div class="row">
      <div class="col-sm-6">
        <h1>List of your Transactions:</h1>
      </div>

      <ul class="col-sm-6 list-inline results-number">
        <li><b>Display:</b><li>
        <li><a class="btn btn-default btn-sm" href="{{ path('transaction_index', { 'results': 10, 'page': transaction_pager.currentPage }) }} ">10</a></li>
        <li><a class="btn btn-default btn-sm" href="{{ path('transaction_index', { 'results': 25, 'page': transaction_pager.currentPage }) }}">25</a></li>
        <li><a class="btn btn-default btn-sm" href="{{ path('transaction_index', { 'results': 50, 'page': transaction_pager.currentPage }) }}">50</a></li>
        <li><a class="btn btn-default btn-sm" href="{{ path('transaction_index', { 'results': 100, 'page': transaction_pager.currentPage }) }}">100</a></li>
      </ul>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Creator</th>
          <th>Amount</th>
          <th>Created On</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for transaction in transaction_pager.currentPageResults %}
        <tr>
          <td>{{ transaction.title }}</td>
          <td>{{ transaction.creator }}</td>
          <td>{{ transaction.amount|money }} {{ transaction.account.currency }}</td>
          <td>{{ transaction.createdOn|localizeddate }}</td>
          <td>
            <ul class="list-inline">
              <li><a href="{{ path('transaction_show', { 'id': transaction.id }) }}">show</a></li>
              <li><a href="{{ path('transaction_edit', { 'id': transaction.id }) }}">edit</a></li>
            </ul>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% if account is defined %}
      <a class="form-button btn btn-primary btn-lg btn-block" href="{{ path('transaction_new', { 'account': account.id }) }}">Create a new transaction</a>
    {% elseif budget is defined %}
      <a class="form-button btn btn-primary btn-lg btn-block" href="{{ path('transaction_new', { 'budget': budget.id }) }}">Create a new transaction</a>
    {% else %}
      <a class="form-button btn btn-primary btn-lg btn-block" href="{{ path('transaction_new') }}">Create a new transaction</a>
    {% endif %}

    <div class="pagerfanta">
      {{ pagerfanta(transaction_pager, 'twitter_bootstrap3') }}
    </div>
  </div>
</div>
