{% extends 'Default/base.html.twig' %}

{% block page %}

  <div class="container">
    <div class="row">
      <div class="page-section">
        <h2>Category groups list</h2>

        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Default category</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for category_group in category_groups %}
            <tr>
              <td>{{ category_group.name }}</td>
              <td>{{ category_group.defaultCategory.name }}</td>
              <td>
                <ul class="list-inline">
                  <li><a href="{{ path('category-group_show', { 'id': category_group.id }) }}">show</a></li>
                  <li><a href="{{ path('category-group_edit', { 'id': category_group.id }) }}">edit</a></li>
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <a class="form-button btn btn-primary btn-lg btn-block" href="{{ path('category-group_new') }}">Create a new category group</a>
      </div>
    </div>
  </div>

{% endblock %}
