{% extends 'Default/base.html.twig' %}

{% block page %}

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="page-section">

          <h2>Category group</h2>

          <table class="table">
            <tbody>
              <tr>
                <th>Id:</th>
                <td>{{ category_group.id }}</td>
              </tr>
              <tr>
                <th>Name:</th>
                <td>{{ category_group.name }}</td>
              </tr>
              <tr>
                <th>Default category:</th>
                <td>{{ category_group.defaultCategory.name }}</td>
              </tr>
            </tbody>
          </table>

          {% include 'Default/flashes.html.twig' %}

          <a class="form-button btn btn-primary btn-lg btn-block" href="{{ path('category-group_edit', { 'id': category_group.id }) }}">Edit</a>
          {{ form_start(delete_form) }}
            <button class="form-button btn btn-primary btn-lg btn-block" type="submit">Delete</button>
          {{ form_end(delete_form) }}
          <a href="{{ path('category-group_index') }}">Back to the list</a>

        </div>
      </div>
    </div>

    {% include 'Category/list.html.twig' %}

  </div>

{% endblock %}
