<div class="page-section">

  <div class="report-header main-header">
    <div class="report-title">Report data</div>
  </div>

  <table class="table">
    <tbody>
      <tr>
        <th>Title:</th>
        <td>{{ report.title }}</td>
      </tr>
      <tr>
        <th>Created On:</th>
        <td>{{ report.createdOn|localizeddate('medium', 'none') }}</td>
      </tr>
      <tr>
        <th>Start Date:</th>
        <td>{{ report.startDate|localizeddate('medium', 'none') }}</td>
      </tr>
      <tr>
        <th>End Date:</th>
        <td>{{ report.endDate|localizeddate('medium', 'none') }}</td>
      </tr>
      <tr>
        <th>Detail:</th>
        <td>{{ report.detail }}</td>
      </tr>
    </tbody>
  </table>

  {% for year in report.years %}

    <div class="report-year report-interval">
      <ul class="report-header">
        <li class="report-title">{{ year.title }}<li>
        {% if report.detail in ["All transactions", "Month", "Day"] %}
          <li class="report-button"><button class="btn btn-default report-show" data-interval-container="#{{ year.title|replace({' ' : '-'}) }}">Show months</button></li>
        {% endif %}
      </ul>

      {% for delta in year.deltas %}
        {% include 'Report/delta.html.twig' %}
      {% endfor %}
    </div>

    <div class="report-intervals-container" id="{{ year.title|replace({' ' : '-'}) }}">

      {% for month in year.months %}

        <div class="report-month report-interval">
          <ul class="report-header">
            <li class="report-title">{{ month.title }}<li>
            {% if report.detail in ["All transactions", "Day"] %}
              <li class="report-button"><button class="btn btn-default report-show" data-interval-container="#{{ month.title|replace({' ' : '-'}) }}">Show days</button></li>
            {% endif %}
          </ul>

          {% for delta in month.deltas %}
            {% include 'Report/delta.html.twig' %}
          {% endfor %}
        </div>

        <div class="report-intervals-container" id="{{ month.title|replace({' ' : '-'}) }}">

          {% for day in month.days %}

            <div class="report-day report-interval">
              <ul class="report-header">
                <li class="report-title">{{ day.title }}<li>
                {% if report.detail == "All transactions" and day.transactions is not empty %}
                  <li class="report-button"><button class="btn btn-default report-show" data-interval-container="#{{ day.title|replace({' ' : '-'}) }}">Show transactions</button></li>
                {% endif %}
              </ul>

              {% for delta in day.deltas %}
                {% include 'Report/delta.html.twig' %}
              {% endfor %}
            </div>

            <div class="report-intervals-container" id="{{ day.title|replace({' ' : '-'}) }}">

              {% set day_has_transactions = false %}

              {% for deltas in day.transactions if deltas is not empty %}
                {% set day_has_transactions = true %}
              {% endfor %}

              {% if day_has_transactions %}
                {% for reportable, deltas in day.transactions if deltas is not empty %}

                  <div class="report-transaction report-interval">
                    <ul class="report-header">
                      <li class="report-title">{{ reportable }}<li>
                    </ul>

                    {% for delta in deltas %}
                      {% include 'Report/delta.html.twig' %}
                    {% endfor %}
                  </div>

                {% endfor %}

              {% else %}
                <div class="alert alert-info" role="alert">
                  <strong>No transactions.</strong>
                </div>
              {% endif %}
            </div>
            
          {% endfor %} {# Day loop end #}
        </div>
      {% endfor %} {# Month loop end #}
    </div>
  {% endfor %} {# Year loop end #}
</div>
